{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}My amazing site{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{% static "specials/stylesheets/base.css" %}">
	<link rel="stylesheet" href="{% static "specials/stylesheets/skeleton.css" %}">
	<link rel="stylesheet" href="{% static "specials/stylesheets/layout.css" %}">
	<link rel="stylesheet" href="{% static "specials/stylesheets/pylunch.css" %}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static "specials/images/favicon.ico" %}">

	{% block head %}
	{% endblock %}

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
	
	<div class="container">
		<div class="sixteen columns">
			<h2 class="remove-bottom no-underline" style="margin-top: 40px"><a href="{% url "index"%}">Stellenbosch Restaurants</a></h2>
			<hr />
		</div>

		<div class="eight columns make-room">
			{% block left_col %}
				<p>Nothing to see here</p>
			{% endblock %}
		</div>

		<div class="eight columns make-room">
			{% block right_col %}
				<p>Nothing to see here</p>
			{% endblock %}
		</div>

	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>