<h3><a href="{% url "restaurant_info" restaurant.id %}">{{ restaurant.name }}</a></h3>
<ul>
{% if restaurant.description %}
    <li><em>{{ restaurant.description }}</em></li>
{% endif %}
{% if restaurant.address %}
    <li><strong>Address:</strong> {{ restaurant.address }}</li>
{% endif %}
{% if restaurant.phone_number %}
    <li><strong>Phone number:</strong> {{ restaurant.phone_number }}</li>
{% endif %}
{% if restaurant.email_address %}
    <li><strong>Email address:</strong> <a href="mailto:{{ restaurant.email_address }}">{{ restaurant.email_address }}</a></li>
{% endif %}
{% if restaurant.url %}
    <li><strong>Website:</strong> <a href="{{ restaurant.url }}">{{ restaurant.url }}</a></li>
{% endif %}
</ul>