{% extends "base.html" %}
{% load special_extras %}

{% block title %}Home{% endblock %}

{% block left_col %}
    <h3>Current specials</h3>
    {% if time_specific_specials %}
        <h4>{{ special_type }} specials</h4>
        <ol>
            {% for special in time_specific_specials %}
                <li>{% render_special_mini special %}</li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if all_day_specials %}
        <h4>All day specials</h4>
        <ol>
            {% for special in all_day_specials %}
                <li>{% render_special_mini special %}</li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}

{% block right_col %}
    <h3>All restaurants</h3>
    {% if restaurant_groups %}
            {% for restaurant_group in restaurant_groups %}
                <h4>{{restaurant_group.start_letter}} – {{restaurant_group.end_letter}}</h4>
                <hr class="no-bottom-space">
                <ul class="inline-list">
                {% for restaurant in restaurant_group.restaurant_list %}
                    <li><a href="/restaurant/{{ restaurant.id }}/">{{ restaurant.name }}</a></li>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
    {% else %}
        <p>No restaurants are available.</p>
    {% endif %}
{% endblock %}